// theme colors
$light-background: #f6f4f5
$light-accent: #f8991d
$main-color: #e81e26
$dark-accent: #f36c36
$dark-background: #292b39

html
    body
        h1, h2, h3, h4, h5, h6, nav
            font-family: "Lato"
            font-weight: 700

        .featurette-heading
            font-weight: 700

        a
            color: $dark-accent
            font-weight: 400

        a:hover
            color: $light-accent
            text-decoration: none

        .navbar
            border: 1px solid rgba(255,255,255,0.5)
            background-color: $dark-background
            color: $light-background
            height: 80px

        .navbar-nav
            position: absolute
            bottom: 0px
            left: 300px
            font-size: 16px

        .brand-image
            height: 50px

        #myCarousel
            background-image: url("../../images/header.jpg")
            background-size: cover
            background-position: top center
            min-height: 85vh  

        .carousel .item, .carousel .item-active, .carousel .carousel-inner
            background-color: rgba(0,0,0,0)
            min-height: 85vh

        .carousel .carousel-caption
            top: 10vw
            bottom: auto
            background-color: rgba(41, 43, 57, 0.6)
            padding-left: 30px
            padding-right: 30px
            border-radius: 6px
            text-shadow: 0px 0px 20px rgba(0,0,0,0.6)

        .btn-primary
            background-color: $dark-accent
            color: $light-background
            border: none
            box-shadow: 0px 0px 20px rgba(0,0,0,0.3)

        .marketing
            padding-top: 40px

        .featurette-image
            max-height: 500px
            border-radius: 6px

        .bio
            .featurette-heading
                margin-top: 30px

            margin-top: 80px
            padding-top: 80px
            padding-bottom: 80px
            background-color: $dark-background
            color: $light-background
            width: 100vw

        // body properties
        font-family: "Source Sans Pro"
        font-weight: 300
        background-color: $light-background
        color: $dark-background
