// theme colors
$light-background: #f6f4f5
$light-accent: #f8991d
$main-color: #e81e26
$dark-accent: #f36c36
$dark-background: #292b39

//device width breakpoints
$breaksmall: 400px
$navbar-break: 767px

html
    body
        h1, h2, h3, h4, h5, h6, nav
            font-family: "Lato"
            font-weight: 700

        .featurette-heading
            font-weight: 700

        a
            color: $dark-accent
            font-weight: 400

        a:hover
            color: $light-accent
            text-decoration: none
        
        .navbar-wrapper .navbar
            border-radius: 0px

        .navbar
            li>a:hover
                color: $light-background
            border-bottom: 1px solid rgba(255,255,255,0.5)
            background-color: $dark-background
            color: $light-background
            min-height: 80px

        .navbar-nav
            position: relative
            bottom: -23.4px
            left: 20px
            font-size: 16px
            font-weight: 400
            @media screen and (max-width: $navbar-break)
                bottom: 0px
                left: 0px

        .brand-image
            height: 50px

        #myCarousel
            background-image: url("../../images/header.jpg")
            background-size: cover
            background-position: top center
            min-height: 85vh
            position: relative

        .carousel .item, .carousel .item-active, .carousel .carousel-inner
            background-color: rgba(0,0,0,0)
            min-height: 85vh

        .carousel .carousel-caption
            top: 25vh
            bottom: auto
            background-color: rgba(41, 43, 57, 0.6)
            padding-left: 30px
            padding-right: 30px
            border-radius: 6px
            text-shadow: 0px 0px 40px rgba(0,0,0,0.4)
            margin-left: auto
            margin-right: auto

        .btn-primary
            background-color: $dark-accent
            color: $light-background
            border: none
            box-shadow: 0px 0px 20px rgba(0,0,0,0.3)
            transition: .2s ease-in-out

        .btn-primary:hover
            background-color: $light-accent

        .marketing
            padding-top: 40px
            z-index: 1

        .featurette-image
            max-height: 500px
            border-radius: 6px
            // opacity: 0
            // transform: translateX(20px)
            // transition: all 0.7s ease-in-out

            // &.is-showing
            //     opacity: 1
            //     transform: translateX(0px)

        .featurette-heading
            margin-top: 30px

        .featurette
            padding: 30px
            border-radius: 6px
            box-shadow: 0px 0px 80px rgba(41, 43, 57, 0.3)
            opacity: 0
            transform: translateX(20px)
            transition: all 0.7s ease-in-out
            background-color: $light-background

            &.is-showing
                opacity: 1
                transform: translateX(0px)

        .featurette-reversed
            background-color: $dark-background
            color: $light-background

        .featurette-divider
            margin: 30px
            @media screen and (max-width: $breaksmall)
                margin: 20px

        #contact
            .featurette-heading
                margin-bottom: 40px
            .contact-column
                font-size: 24px
                display: block
                margin-bottom: 30px
            .social
                height: 40px
                margin: 10px
        
            padding-bottom: 60px
            text-align: center
            

        // body properties
        font-family: "Source Sans Pro"
        font-weight: 300
        background-color: $light-background
        color: $dark-background
